.form-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;

    min-width: 22rem;
    text-align: left;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
}

.form-modal div {
    margin: 1rem 0;
}

.form-modal p {
    font-weight: 600;
}

.empty-msg {
    color: red;
}

.msg {
    color: gray;
}

.form-modal input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid  gray;
    border-radius: 10px;
}

.rsvp-modal {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 7px 54px; */
    padding: 14px;
    border-radius: 5px;
    background-color: #F55858;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}