* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  /* background-color: #F7F7F7; */
  /* background-color: #e5e4eb; */
  background-color: #e6f4fe;
  padding: 0 4rem;
}

@media (max-width: 768px) {
  .App {
    padding: 0 1rem;
  }
}
